<phpunit colors="true" strict="true" stopOnError="false" backupGlobals="false"
         bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="all">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
